@import "_reset.scss";
@import "_common.scss";
.wrap{
	@extend %page_bg;
	@extend %page_width;
	@extend %page_common;
	@extend %overflow_hidden;
	@extend %boxSizing;
}

.header{
	background-color: #19b36a;	
	height: 76px;
	@extend %overflow_hidden;
}

.register{				
		@extend %fr;	
		.logUser{			
			@extend %fl;
			h5{
				font-size:14px;
			}			
			color: #fff;
    		line-height: 20px;
    		margin-top: 20px;
    		padding-right: 20px;
		}
		.logOut{
			@extend %fr;
			float: right;
		}
}

.nav{	
	@extend %fl;
	ul.navMain>li{		
		@extend %nav_width;
		@extend %page_common_lineHeight;
		border-top:$borderStyle;
		border-right:$borderStyle;	
		line-height: 59px;
		a{			
			@extend %display_block;
			@extend %text_centen;			
			background-color:#fff;
		}
		&>a{		
			color: #636363;
			background: #fff url(../images/sanjiao.gif) no-repeat center right;
		}
	}
	ul.navMain>li ul{		
		li{
			line-height: 40px;
		}		
		a{
			color:#989898;
		}
		a.activity{
			background-color:#60b166;
			color:#fff;
		}
	}	
	ul.navMain>li:last-child{		
		border-bottom: $borderStyle;
	}	
}

.mainContainer{	
	@extend %content_Container;
	padding-left:20px;
    margin-bottom:20px;	
	h3{
		color:#000000;
		line-height: 60px;	
		font-size: 20px;		
	}
	.advertisingInfo{
		background-color:#f5f5f5;
		overflow: hidden;		
	}
	.adPositionId{		
		$fontColor:#60b166;
		@extend %fl;	
		@extend %boxSizing;
		padding-left:20px;
		padding-bottom:26px;
		width: 50%;
		h4{
			font-size: 14px;
			padding-top:22px;
			padding-bottom: 10px;	
			color: $fontColor;
			overflow: hidden;
			a{
				color:$fontColor;
			}
			a.adAll{				
				padding-right:50px;
				@extend %fr;				
			}

		}
	}
	.adContainer{		
		overflow: hidden;
		ul:first-child{
			border-left:$borderStyle;
		}		
		ul{
		  @extend %fl;
		  @extend %boxSizing;
		  width:140px;		  
		  padding:10px;
		  background-color: #fff;			  
		  border:$borderStyle{
		  	left:0px;
		  }		
		  li:nth-of-type(1){
		  	padding-top:10px;
		  	padding-bottom:15px;
		  }
		  li:nth-of-type(2){
		  	padding-bottom:9px;
		  }
		  li:nth-of-type(3){
			padding-bottom:12px;
			font-size: 10px;
			color:#60b166;
		  }
		  li:nth-of-type(4)>a{			
			color: #000;
		  }
		}
		.addBtn{
			width:140px;
			height: 127px;
		}
	}
}

/*页面中的样式*****/
/*广告详情页面---导航菜单***/

$menuFontColor:#999999;
$fontColor_green:#60b166;
.topMenu{
	overflow:hidden;
	border:$borderStyle{
		 bottom:0px;
	}
	li{
		@extend %fl;
		@include baseStyle(130px,50px,16px);	
		color:$fontColor_green;		
		@extend %text_centen;
		border-right:$borderStyle;	
		border-bottom:$borderStyle;
	}
	.underline{	
		width: (1000-130*6-6-2)*1px;
		height:50px;
		border-bottom:$borderStyle;
		border-right:0px solid;	
	}		
	.activity{
		border-bottom:0px solid;
		background-color:#fff;
		color:$menuFontColor;
	}
}
.subMenu{
	overflow:hidden;	
	margin:0 20px;
	border-bottom: $borderStyle;
	li{
		@extend %fl;
		@include baseStyle;				
		a{
			@extend %text_centen;
			@extend %display_block;
			color:$menuFontColor;			
		}		
	}
	.activity{
		border-bottom:3px solid $fontColor_green;
	}
	.viewCtrl{
		@extend %fr;
		width: 70px;
		a{	
			color:$fontColor_green;
			text-align: left;
			padding-left:22px;
			background: #fff url(../images/list.png) no-repeat left center;
		}
	}
}

/*广告位详情的排期**********/
.adPlacePartiContainer{
	@extend %content_Container;		
    margin-bottom:20px;
    div.regionCtrl{
    	padding-top:0;
    }
}
.putInTheGoal{
	@include adExplain;
	@extend %choiceBox_radio;
}
.putInTheRegion.additionRegion{
	padding-top:22px;
	min-height:60px;
	.regionCtrl{
		padding-top:0;
	}
}

.putInTheRegion{
	@include putInTheRegion;
	@include putInTheRegion_region;
	@include putInTheRegion_capital;
	.regionCtrl{
		@extend %fr;
		padding-top:30px;
		input{
			width:98px;
			line-height: 28px;
			@extend %display_block;			
			border: $borderStyle;			
		}
		.selectRegion{
			color:$fontColor_green;
			background-color:#f5f5f5;
		}
		.filterRegion{			
			color:#fff;
			margin-top:20px;
			background-color:$fontColor_green;
		}
	}
	@extend %clearFloat;	
}


/**日历控件*/
.calendarView{	
	padding:0 120px 0 20px;	
}
.calendarView.additionView{
	margin-left:75px;
	padding:0 45px 0 20px;
}
.calendarContainer{
	@extend %boxSizing;
	width:561px;
	h5{
		@extend %text_centen;
		@include baseStyle(100%,52px,14px);	
		color:#fff;	
		background-color: $fontColor_green;
		position:relative;
		img{
			margin-top:13px;
			position:absolute;
			height: 25px;
			width: 25px;
		}
		.arrowsLeft{
			left: 20px;
		}
		.arrowsRight{
			right: 20px;
		}

	}
	.selectFreeTime{
		display: block;
		@include baseStyle(150px,28px,12px);	
		height: 28px;		
		text-align: center;
		border:1px solid $fontColor_green;
		color:$fontColor_green;	
		margin-top: 20px;
	}
	.selectDate,.highSetting{
		margin:30px 0;
	}

	.selectDate{	
		padding-left:60px;
		li{
			@extend %fl;
			border-right:1px solid $menuFontColor;	
			padding:0 20px;
			span{
				color:$menuFontColor;
			}			
		}	
		li:first-child,li:last-child{			
			border-right:0px solid;
		}
		li:first-child{
			strong{
				font-weight:400;
			}
			padding:0;
			margin-left:-60px;

		}
		@extend %clearFloat;
	}
	.clickCalendar{
		border:2px solid #DFEA09;
	}
}

/***高级设置************/
label.radio{
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius:8px;
	border:1px solid #999;	
	margin-right: 5px;					
}
label.checked{
	border-color:#6db773;
	background: #6db773 url(../images/checked.png) no-repeat center center;
}

.highSetting{		
	h6,.settingCtrl{	
		@extend %fl;
		font-weight: 400;
	}
	.settingCtrl{
		margin-left:20px;
	}
	li{		
		label{
			color: #999999;
			font-size: 12px;
		}		
		input[type="text"]{
			display: inline-block;
			width: 130px;
			height: 29px;
			border:1px solid #999;
		}		
		input[type='radio']{
			display: inline-block;
			width: 0px;			
			height: 0px;
			visibility: hidden;
		}			
	}
	li:nth-of-type(1){
		margin-bottom: 20px;		
		input:nth-of-type(1),input:nth-of-type(2){
			margin-left:11px;
		}
		input:nth-of-type(1){
			margin-right: 30px;
		}
	}
	li:nth-of-type(2){
		input:nth-of-type(1){
			margin-right: 30px;
		}
		input:nth-of-type(1),input:nth-of-type(2){
			margin-left:22px;
		}

	}

	@extend %clearFloat;
}


.calendar{
	border-bottom: $borderStyle;
	border-right:$borderStyle;	
	ul{
		overflow: hidden;	
		@extend %clearFloat;		
		li:nth-of-type(25),li:nth-of-type(26),li:nth-of-type(27),li:nth-of-type(28){
			border-bottom: $borderStyle;		
		}				
		li:nth-of-type(31){
			border-right:$borderStyle;			
		}
	}

	ul.thirtyDay{
		li:nth-of-type(24){
			border-bottom: $borderStyle;
		}
		li:nth-of-type(30){
			border-right:$borderStyle;
			border-bottom: $borderStyle;	
		}
	}
	ul.twentyNine{
		li:nth-of-type(23),li:nth-of-type(24){
			border-bottom: $borderStyle;
		}
		li:nth-of-type(29){
			border-right:$borderStyle;
		}
	}
	li{		
		@extend %fl;
		width: 80px;
		height: 80px;
		@extend %boxSizing;		
		border-top:$borderStyle;
		border-left:$borderStyle;	
		h6{
			line-height: 26px;
			font-weight: 500;	
			span{
				color: $menuFontColor;
			}	
			span:nth-of-type(1){				
				font-size: 9px;				
				margin:0 30px 0 6px;		
			}
			span:nth-of-type(2){
				font-size: 14px;
			}
		}
		div{
			strong{
				font-weight: 400;
			}
		}
	}	
	
	.putIn{
		background-color: #f6bb43;
		color: #fff;
		h6{
			span:nth-of-type(1),span:nth-of-type(2){						
				color:#fff;
			}
		}
		div{
			padding-top:6px;
			padding-left:4px;
		}
		strong{		
			font-size: 12px;		
		}
		span{
			font-size:10px;
		}
	}
	.pastDue{		
		background-color:#f5f5f5;
		p{			
			@extend %text_centen;
			line-height: 50px;
			color: #cccccc;			
		}
	}
	.selection{
		position:relative;
		label{		
			@extend %labelCheckbox;
		}	
		label.selected{		
			@extend %labelChecked;

		}
	}	
	.pitchOn{//选中后的样式
		background-color:#C6EFC1;
		h6{
			span:nth-of-type(1),span:nth-of-type(2){						
				color:#19B36A;
			}
		}
	}

}


.scheduleInfo{
	@extend %fr;
	width:260px;
	height:450px;
	li{		
		height: 92px;			
		border:$borderStyle{
			bottom:0;
		}		
		padding:18px 20px;
		@extend %boxSizing;
		overflow: hidden;	
		vertical-align: middle;		
	}
	.scheduleCaption{
		height: 50px;
		line-height: 50px;
		padding:0 69px;
		color: $menuFontColor;
	}
	.adName{		
		font-weight: 500;
		line-height: 18px;		
		width:144px; 	
		margin-bottom:10px;
	}
	strong{		
		font-weight: 400;
	}
	span.adPutIn,span.adWaitPut{			
		@extend %fr;						
	}
	span.adPutIn{
		color:#f6bb43;
	}		
	span.adWaitPut{
		color:#ee6767;
	}
	.adAll {
		height:38px;
		line-height: 38px;
		padding:0 0;
		border-bottom:$borderStyle;
		a{
			display: block;
			text-align: center;
			color:$fontColor_green;	
		}
	}
}
.ensurePutIN,.putInAD{
	display:block;
	width:150px;
	line-height:30px;
	text-align:center;
	color:#fff;
	background-color:$fontColor_green;
}
.putInAD{
	margin-left:20px;
	margin-bottom:120px;		
}
.ensurePutIN{
	margin:31px 0 80px 80px;
}

.adInfo{
	margin-top:17px;
	li{
		line-height: 50px;
		label:nth-of-type(1){
			margin-right: 20px;
		}
		label.radio{
			margin-left: -6px;
			vertical-align: middle;
		}		
		input[type='radio']{
			display: inline-block;
			width: 0px;			
			height: 0px;
			visibility: hidden;
		}	
	}
	li:nth-of-type(1){
		span{
			color:#999;
			margin-left: 5px;
		}
		span:nth-of-type(1){
			margin-right:28px;
		}
	}
	li:nth-of-type(2){
		input[type='text']{
			border:1px solid #999;
			width: 408px;
			height: 28px;
		}
		span{
			margin-left: 20px;
			color:#e25757;
			font-size: 12px;
		}
	}
	li:nth-of-type(3){
		select{
			display: inline-block;
			border:1px solid #999;
			width: 410px;
			height: 30px;
			margin-left:6px;
			option{
				border-width:0px;
			}
		}
		input[type='button']{
			font-size: 12px;
			border-width:0;
			background-color:#fff;
			color:#60b166;
			margin-left: 24px;
			padding-left:18px;
			background:#fff url(../images/addOwn.png) no-repeat left center;
		}
	}
	li:nth-of-type(4){
		margin-top: 11px;
		margin-bottom: 25px;
		label:nth-of-type(1){
			vertical-align: top;
			line-height: 1;			
			margin-right: 14px;
		}
		span{
			position:relative;
			vertical-align: bottom;
			top:40px;
			left:-100px;
			color: #999999;
		}

	}
	.addImg{
		display: inline-block;
		width: 142px;
		height: 127px;
		border:1px solid #cccccc;
		background:#ffffff url(../images/addImg.png) no-repeat center center;
		vertical-align:middle;
	}
	//
	li:nth-of-type(5){
		label:nth-of-type(1){
			display: inline-block;
			width:60px;
			line-height: 15px;
			text-align: center;
			vertical-align: middle;
			margin-right:20px;
		}
		input[type='text']{
			border:1px solid #999;
			width: 408px;
			height: 28px;
		}
	}	
}

/**************************************添加广告页面******************/
/**************************************广告详情    ******************/
.adPartiContainer{
	@extend %content_Container;
	h3{
		/*修改字体的通用方式，可以提取出来***/
		font-size: 20px;
		line-height: 60px;
		font-weight: 400;
		margin-left: 20px;

		input[type='button']{	
			width:44px;
			height: 28px;
			float:right;	
			margin-top: 20px;	
		}
		input[type='button']:nth-of-type(1){
			@include btnCtrl(20px,#ff6666);
		}
		input[type='button']:nth-of-type(2){
			@include btnCtrl;
		}
	}
	.adPartiContInfo{		
		li:nth-of-type(1),li:nth-of-type(3),li:nth-of-type(4),li:nth-of-type(5),li:nth-of-type(6),li:nth-of-type(7){
			@include adExplain(20px);
		}
		li:nth-of-type(1){
			padding-top: 6px;
		}
		li:nth-of-type(5){
			i{
				display: inline-block;
				font-style: normal;
				width: 162px;
				height: 30px;
				@extend %boxSizing;
				padding:9px 20px;
				color:#999999;
				border:1px solid #cccccc;
				margin-right: 10px;
			}
			i:nth-of-type(1){
				margin-left:9px;
			}
		}
		li:nth-of-type(2){
			@include putInTheRegion(20px,79px);
			@include putInTheRegion_region(74px,860px);
			@include putInTheRegion_capital(810px);
		}
	}
	h4{
		line-height: 60px;
		margin-top:20px;
		strong{
			margin-left: 20px;
			font-size: 20px;			
		}		
		input[type='button']{	
			width:102px;
			height: 30px;
			float:right;			
			@include btnCtrl(0px,#60b166,#fff);
			margin:30px 20px 0 0;	
		}
	}
	.statisticalTable{
		margin:6px 0 0 20px;
		td{
			width:190px;
			font-size: 12px;
			line-height: 46px;
			text-align: center;
			border:1px solid #e7e7e7;
		}
		thead>tr{
			td{background-color:#f1f1f1;}
		}		
	}
	// .putInTheGoal{
	// 	padding-top:20px;
	// }
}
