@import "reset.scss";
@import "common.scss";
.logInContainer{
	height:800px;
	position:relative;
}
.logInHeader{
	height:375px;
	box-sizing:border-box;
	padding-top:104px;
	background:#68c14d url(../images/cloud.png) no-repeat center 315px;	
	.logo{
		display: block;
		width:220px;
		margin: auto auto;		
	}
}
	::-webkit-input-placeholder {
  		  text-align: center;
 		}	
.login{
	$btnWidth : 315px;
	width:440px;	
	margin:auto auto;	
	padding-top:60px;
	line-height:60px;
	position:relative;
	li{
		text-align:center;
	}	
	input{		
		@extend %boxSizing;
		@extend %display_lineBlock;
		width: $btnWidth;	
		line-height: 40px;	
		border:1px solid #cccccc;border-radius:15px;
		padding-left:42px;
		outline:medium none;outline-color:white;					
		text-align:center;		
	}	
	.logoInHint{
		@extend %display_none;
		color:red;
		position:absolute;		
		top:62px;
		right: -48px;
		font-size: 12px;
	}
	.userName{
		background:#fff url(../images/user.png) no-repeat 20px 10px;
		background-size:16px 19px;
	}
	.password{
		background:#fff url(../images/lock.png) no-repeat 20px 10px;
		background-size:16px 19px;
	}
	a{
		@extend %boxSizing;
		@extend %display_block;
		@extend %text_centen;	
		line-height: 38px;
		width: $btnWidth;	
		height:38px;
		color:#fff;			
		background-color:#68c14d;
		border-radius:15px;
		margin-top: 30px;	
		margin-left:63px;	
	}
}
.logInFooter{	
	position:fixed;
	left:0;right:0;
	bottom:56px;
	width:440px;	
	margin:auto auto;
	font-size:14px;
	overflow:hidden;	
	p{
		color:#cccccc;
		text-align:center;		
		font-size:12px;
		padding-bottom:12px;
		a{
			color:#cccccc;
			text-decoration: underline;			
		}
	}
}